/* SVG loading animation */
@keyframes loadingGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}



#iosBanner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Translucent white for glass effect */
    backdrop-filter: blur(10px);
    color: #333;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Drop shadow */
    border-radius: 10px; /* Rounded corners */
    z-index: 1000;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bannerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Ensure the content uses the full width */
}

#iosBanner p {
    flex-grow: 1;
    text-align: center;
    margin: 0; /* Remove margin to center the text */
}

#iosBanner button#closeBannerButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em; /* Adjust size as needed */
    color: #333; /* Adjust color as needed */
}

#middleBannerImage {
    max-height: 50px; /* Adjust as needed */
    /* Remove absolute positioning styles if you want it next to the text */
}




.stage-pill {
    display: inline-block;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 0 20px 0;  /* Increased bottom margin */
    text-align: center;
    font-size: 0.9em; 
   padding-top:12px !important;
 padding-bottom:13px !important;/* Adjust the font size as needed */
}



.svg-loading .cls-1 {
  fill: url(#loadingGradient);
}

.svg-success .cls-1 {
  fill: #90ee90; /* light green */
  animation: none;
}

.OrderDetailsbutton {
 display:inline;
 height:50px;
 background-image:linear-gradient(to right, #a2e79c 0%, #7acc71 100%);
 font-weight:600;
 font-size:16px;
padding-top:10px;
 margin-top:20px;
 margin-bottom:20px;
 border-top-left-radius:10px;
 border-top-right-radius:10px;
 border-bottom-left-radius:10px;
 border-bottom-right-radius:10px;
 transform:translatex(0px) translatey(0px);
}

#orderDetails p{
  font-size:15px;
 font-weight:400;
 font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
 letter-spacing:0px;
  line-height:16.4px !important;
}



#orderDetails{
 background-color:#f2f2f2;
 border-top-left-radius:10px;
 border-top-right-radius:10px;
 border-bottom-left-radius:10px;
 border-bottom-right-radius:10px;
 box-shadow:0px 0px 16px 0px rgba(84,84,84,0.15) inset;
  padding-left:10px;
 padding-top:26px;
 padding-bottom:30px;
 transform:translatex(0px) translatey(0px);
 text-align:left;
 position:relative;
 top:0px;
}

/* Define gradient for the loading state */
#loadingGradient {
  background: linear-gradient(270deg, #000080, #0000cd);
  background-size: 200% 200%;
}

.container #barcode-scanner video{
 width:100% !important;
 height:353px !important;
}

#barcode-result{
 display:none;
}


body {
    font-family: Arial, sans-serif;
    background-color:#222c43;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-top: 50px;
    padding-bottom: 42px;
  padding-top: 20px;
}


.container svg {
  display: block; /* Makes the SVG a block element */
  margin-left: auto; /* With auto margins, */
  margin-right: auto; /* the block element will be centered within its container */
  width: 30%; /* Sets the width to 30% of the container */
  height: auto; /* Maintains the aspect ratio of the SVG */
  padding-top: 20px;
  padding-bottom: 10px;
  color: red;
}


input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#orderDetails {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

/* Order details */
#orderDetails{
 display:grid;
 align-content:center;
 justify-content:center;
 transform:translatex(0px) translatey(0px);
 float:none;
 line-height:2.6px;
 font-size:16px;
padding-top: 20px;
background-color: #f2f2f2;
}

/* Paragraph */
#orderDetails > p{
 float:none;
 display:flex;
 align-items:center;
 justify-content:center;
}

/* Lookup button */
#lookupButton{
 align-items:center;
 justify-content:center;
}

/* Container */
.container{
 align-self:center;
 display:grid;
 flex:0 1 auto;
 transform:translatex(0px) translatey(0px);
}

/* Heading */
.container h1{
 display:flex;
 align-items:center;
 justify-content:center;
}

/* Order number */
#orderNumber{
 padding-right:0px;
 padding-left:0px;
}


#barcode-scanner {
    width: 100%; /* Adjust the width to fit within the container */
    height: 300px; /* Adjust the height as needed */
    margin-top: 20px;
    position: relative;
    overflow: hidden; /* Keeps the camera view within the bounds */
}

#barcode-result {
    margin-top: 20px;
}


/* Video */
#barcode-scanner video{
 width:508px;
 height:275px;
}

/* Barcode scanner */
#barcode-scanner{
 display:grid;
 align-items:center;
 justify-content:center;
 flex-direction:row;
 float:none;
border-top-left-radius:10px;
 border-top-right-radius:10px;
 border-bottom-left-radius:10px;
 border-bottom-right-radius:10px;
}

@media (min-width:577px){

 /* Barcode scanner */
 #barcode-scanner{
  transform:translatex(0px) translatey(0px);
 }
 
}

@media (max-width:576px){

 /* Barcode scanner */
 #barcode-scanner{
  height:243px;
  width: 100%;
  transform:translatex(0px) translatey(0px);
  margin-bottom:1px;
 }
 
 /* Container */
 .container{
  margin-top:0px;
 }
 
 /* Order details */
 #orderDetails{
  font-size:12px;
 }
 
 /* Heading */
 .container h1{
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size:25px;
 }
 
 /* Barcode result */
 #barcode-result{
  font-size:10px;
 }
 

