/* SVG loading animation */
@keyframes loadingGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.svg-loading .cls-1 {
  fill: url(#loadingGradient);
  animation: loadingGradient 2s linear infinite;
}

.svg-success .cls-1 {
  fill: #90ee90; /* light green */
  animation: none;
}

/* Define gradient for the loading state */
#loadingGradient {
  background: linear-gradient(270deg, #000080, #0000cd);
  background-size: 200% 200%;
}

.container #barcode-scanner video{
 width:100% !important;
 height:100% !important;
}

#barcode-result{
 display:none;
}


body {
    font-family: Arial, sans-serif;
    background-color:#222c43;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-top: 50px;
    padding-bottom: 42px;
  padding-top: 40px;
}


.container svg {
  display: block; /* Makes the SVG a block element */
  margin-left: auto; /* With auto margins, */
  margin-right: auto; /* the block element will be centered within its container */
  width: 30%; /* Sets the width to 30% of the container */
  height: auto; /* Maintains the aspect ratio of the SVG */
  padding-top: 20px;
}


input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#orderDetails {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e9ecef;
}

/* Order details */
#orderDetails{
 display:grid;
 align-content:center;
 justify-content:center;
 transform:translatex(0px) translatey(0px);
 float:none;
 line-height:2.6px;
 font-size:16px;
}

/* Paragraph */
#orderDetails > p{
 float:none;
 display:flex;
 align-items:center;
 justify-content:center;
}

/* Lookup button */
#lookupButton{
 align-items:center;
 justify-content:center;
}

/* Container */
.container{
 align-self:center;
 display:grid;
 flex:0 1 auto;
 transform:translatex(0px) translatey(0px);
}

/* Heading */
.container h1{
 display:flex;
 align-items:center;
 justify-content:center;
}

/* Order number */
#orderNumber{
 padding-right:0px;
 padding-left:0px;
}


#barcode-scanner {
    width: 100%; /* Adjust the width to fit within the container */
    height: 300px; /* Adjust the height as needed */
    margin-top: 20px;
    position: relative;
    overflow: hidden; /* Keeps the camera view within the bounds */
}

#barcode-result {
    margin-top: 20px;
}


/* Video */
#barcode-scanner video{
 width:508px;
 height:275px;
}

/* Barcode scanner */
#barcode-scanner{
 display:grid;
 align-items:center;
 justify-content:center;
 flex-direction:row;
 float:none;
}

@media (min-width:577px){

 /* Barcode scanner */
 #barcode-scanner{
  transform:translatex(0px) translatey(0px);
 }
 
}

@media (max-width:576px){

 /* Barcode scanner */
 #barcode-scanner{
  height:243px;
  width: 100%;
  transform:translatex(0px) translatey(0px);
  margin-bottom:1px;
 }
 
 /* Container */
 .container{
  margin-top:0px;
 }
 
 /* Order details */
 #orderDetails{
  font-size:12px;
 }
 
 /* Heading */
 .container h1{
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size:25px;
 }
 
 /* Barcode result */
 #barcode-result{
  font-size:10px;
 }
 

